<!DOCTYPE html>
<html>
<head>
  <title>SportsGifApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>




</head>
<body>
	<header>
	<h1><hr>The GIF of Sports</hr></h1>
</header>

<%= yield %> 

	<div class="container">
		<input type="text" id="search-input" placeholder="enter sport, ie #football">
		<button id="search-button">Search</button>
		<div id="results"></div>
	</div>

<section id='gifs'>

	<div>
		<button id='moreGifs'>More Gifs</button>
	</div>



</section>


</body>
</html>
